/* Google Fonts CDN LINK */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.space-top{
    margin-top: 100px;
}
.eshop-bg-info{
    background-color: #fceae8;
}
.buy-now-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.watch-cat-bg{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.bag-cat-bg{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.shoe-cat-bg{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}